<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>API MAETTI</title>
</head>
<body>
    <main>
        <h2>API MAETTI - SUBIR BENEFICIOS</h2>
        <button onclick="location.href='/propiedades'">VER FORMULARIO DE PROPIEDADES</button>
        <button onclick="location.href='/'">VER FORMULARIO DE CONSULTAS</button>
        <button onclick="location.href='/formulariopropiedad'">SUBIR PROPIEDADES</button>
        <button onclick="location.href='/formulariovehiculos'">SUBIR VEHICULOS</button>
        <br>
        <br>

        <strong>SUBIR BENEFICIOS</strong>

        <form class="p-2" action="/subirBeneficios" enctype="multipart/form-data" method="post">
            <Label for="tipobeneficio">Tipo de beneficio (huespedes o propietarios)</Label>
            <input class="form-control my-2" required type="text" name="tipobeneficio" placeholder="escribir solo huespedes o propietarios">
            <input class="form-control my-2" required type="text" name="titulo" placeholder="Nombre de la empresa">
            <input class="form-control my-2" required type="text" name="descripcion" placeholder="Descripcion del beneficio en español">
            <input class="form-control my-2" required type="text" name="descripcionIngles" placeholder="Descripcion del beneficio en ingles">
            <input class="form-control my-2" required type="text" name="telefono" placeholder="Telefono de la empresa">
            <input class="form-control my-2" required type="text" name="instagram" placeholder="Instagram de la empresa">
            <input class="form-control my-2" required type="mail" name="mail" placeholder="Mail de la empresa">
            <label for="imagenPropiedad">Logo de la empresa</label>
            <input class="form-control my-2" required type="file" name="imagenPropiedad"/>
            <input class="btn btn-primary my-2" type="submit" value="Upload a file"/>
        </form>
        
    </main>
</body>
</html>